# Task 1: Setup and DataFrame Creation

##### 1.1 Install Pandas and other necessary libraries
*Install pandas*

In [ ]:
# ! pip install pandas

*install numpy*

In [ ]:
# ! pip install numpy

*install matplotlib*

In [ ]:
# ! pip install matplotlib

*install seaborn*

In [ ]:
# ! pip install seaborn

##### 1.2 Import Pandas

In [ ]:
# import pandas as pd

##### 1.3 Creating DataFrame from dictionary

In [ ]:
my_dict = {
    "Name": ["Harry", "Ron", "Hermione", "Neville"],
    "Age": [21, 22, 22, 23],
    "Language": ["Python","Javascript", "Java", "C++"]
}
df = pd.DataFrame(my_dict)
df

##### 1.4 Creating DataFrame from list of dictionaries

In [ ]:
my_list_dict = [
    {"Name":"Harry", "Age": 21, "Language":"Python"},
    {"Name":"Ron", "Age": 22, "Language":"Javascript"},
    {"Name":"Hermione", "Age": 22, "Language":"Java"},
    {"Name":"Neville", "Age": 23, "Language":"C++"}
]
df = pd.DataFrame(my_dict)
df

##### 1.5 Loading dataset from csv

In [ ]:
df = pd.read_csv('messed_dataset.csv')
df.head()

# Task 2: Viewing and Inspecting Data

##### 2.1 Display first few rows of the DataFrame

In [ ]:
# first 10 rows
df.head(10)

##### 2.2 Display last few rows of the DataFrame

In [ ]:
# last 10 rows
df.tail(10)

##### 2.3 Getting Summary of the DataFrame

In [ ]:
# Display datatypes 
df.info()

In [ ]:
# Basic statistics
df.describe()

##### 2.4 Display shape and column name of the dataFrame

In [ ]:
# getting shape
df.shape

In [ ]:
# Column names
df.columns

# Task 3: Selection and Indexing

##### 3.1 Selecting columns

In [ ]:
# selecting single column - eg: Name column
df["Name"]

In [ ]:
# selecting multiple column - eg: Name and Age
df[["Name", "Age"]]

##### 3.2 Select rows by index and by label

In [ ]:
# by index (using iloc)
df.iloc[0:5] #selects first five rows - 0,1,2,3,4

In [ ]:
# by label (using loc)
df.loc[0:5] # selects first 6 rows 0, 1, 2, 3, 4, 5

##### 3.3 Select specific rows and columns using loc and iloc

In [ ]:
# specific row and column using loc
df.loc[0:5, ["Name", "Age", "Country"]]

In [ ]:
# specific row and column using iloc
df.iloc[0:5, [0, 1, 3]]

# Task 4: Handling Missing Data

##### 4.1 Identify missing values in the DataFrame

In [ ]:
df1 = pd.read_csv('messed_dataset.csv')
df1.head()

In [ ]:
# identifying missing data
df1.isnull().sum()

##### 4.2 Drop rows with missing values

In [ ]:
df2 = df1.dropna()
df2.head()

In [ ]:
df2.isnull().sum()

##### 4.3 Fill missing values with a specified value

In [ ]:
df3 = df1.fillna(value = 
          {
            "Name" :            "Peter",
            "Age"   :            "28",
            "Email" :           "peter@example.com",
            "Country" :         "USA",
            "Salary"  :          98898,
            "DateOfJoining":  "2024-09-29"
            })
df3.head()

In [ ]:
df3.isnull().sum()

# Task 5: Data Operations

##### 5.1 Add a new column to the DataFrame

In [ ]:
my_dict = {
    "Name": ["Harry", "Ron", "Hermione", "Neville"],
    "Age": [21, 22, 22, 23],
    "Language": ["Python", "Javascript", "Java", "C++"]
}
df = pd.DataFrame(my_dict)
df["Salar"] = [22000, 21000, 24000, 21400]
df["Favourite Fruit"] = ["Apple", "Banana", "Cherry", "Dragon Fruit"]
df

##### 5.2 Delete a column from the DataFrame

In [ ]:
df.drop(columns=["Favourite Fruit"], inplace=True)
df

##### 5.3 Rename columns in the DataFrame

In [ ]:
df.rename(columns={"Salar":"Salary"}, inplace=True)
df

##### 5.4 Apply a function to a column

In [ ]:
# increase salary of everyone by 10000
df["Salary"] = df["Salary"].apply(lambda x: x + 10000)
df

# Task 6: GroupBy Operations

##### 6.1 Group the DataFrame by a column and calculate summary statistics

In [ ]:
# grouping by Department
my_data = {
    'Employee': ["Yudhistir", "Bhimsen", "Arjun", "Nakul", "Sahadev"],
    'Department': ['HR', 'Finance', 'Finance', 'HR', 'IT'],
    'Age': ["35", "33", "31", "29", "27"],
    'Salary': [50000, 60000, 70000, 80000, 45000]
}
df = pd.DataFrame(my_data)
grouped = df.groupby("Department")
grouped

In [ ]:
# mean and max salary of grouped data
print("Mean\n", grouped["Salary"].mean())
print("Max\n", grouped["Salary"].max())

##### 6.2 Iterate over groups and display the group names and data

In [ ]:
for group_name, group_data in grouped:
    print(group_name)
    print(group_data)

# Task 7: Merging and Joining DataFrames

##### 7.1 Merge two DataFrames on a common column

In [ ]:
my_data1 = {
    "Name": ["Tom", "Dick", "Harry"],
    "Math" : [25, 23, 23],
    "English" : [26, 24, 27]
}

df9 = pd.DataFrame(my_data1)
df9

In [ ]:
my_data2 = {
    "Social": [34, 35, 33],
    "History": [43, 42, 23]
}
df10 = pd.DataFrame(my_data2)
df10

In [ ]:
merged_df = df9.join(df10)
merged_df

##### 7.2 Join two DataFrames using their indices

In [ ]:
my_data3 = {
    "Sn": [1, 2, 3],
    "Name": ["Tom", "Dick", "Harry"],
    "Math": [25, 23, 23],
    "English": [26, 24, 27]
}
df11 = pd.DataFrame(my_data3).set_index("Sn")
df11

In [ ]:
my_data4 = {
    "Sn": [1, 2, 3],
    "Social": [34, 35, 33],
    "History": [43, 42, 23]
}
df12 = pd.DataFrame(my_data4).set_index("Sn")
df12

In [ ]:
merged_df2 = pd.merge(df11, df12, left_index=True, right_index=True)
merged_df2

# Task 8: Working with Dates and Times

##### 8.1 Create a datetime index for the DataFrame

In [ ]:
my_data = {
    'Employee': ["Yudhistir", "Bhimsen", "Arjun", "Nakul", "Sahadev"],
    'Department': ['HR', 'Finance', 'Finance', 'HR', 'IT'],
    'Age': ["35", "33", "31", "29", "27"],
    'Salary': [50000, 60000, 70000, 80000, 45000]
}
df = pd.DataFrame(my_data)
df

In [ ]:
# adding Date column to df
df["Date"] = pd.date_range(start='1/1/2024', periods=len(df), freq="M").astype(str)
df

##### 8.2 Convert a column to datetime and extract date components

In [ ]:
df.info()

In [ ]:
# covert datatype of Date from object to datetime in column Date

df["Date"] = pd.to_datetime(df["Date"])
df

In [ ]:
# rename Date to DateTime
df.rename(columns={"Date": "DateTime"}, inplace=True)
df

In [ ]:
df.info()

In [ ]:
# extract date components year and month
df["Year"] = df["DateTime"].dt.year
df["Month"] = df["DateTime"].dt.month
df

# Task 9: Input and Output

##### 9.1 Read from a csv file into a DataFrame

In [ ]:
df = pd.read_csv("messed_dataset.csv")
df.head()

##### 9.2 Write the DataFrame to a csv

In [ ]:
# dropping the null row from the datasets
df.dropna(inplace=True)
print(df.isnull().sum())

In [ ]:
# writing the new datasets to csv
df.to_csv("dropped_null_from_messed_dataset.csv", index=False)

##### 9.3 Read data from an Excel file into a DataFrame

In [ ]:
df = pd.read_excel("SaleData.xlsx")
df.head()

In [ ]:
df.isnull().sum()

##### 9.4 Write the DataFrame to an Excel file

In [ ]:
# drop null rows formt he datasets
df.dropna(inplace=True)
df.isnull().sum()

In [ ]:
# writing the new dataset to excel
df.to_excel("dropped_null_from_SaleData.xlsx", index=False)

# Data Visualization
- Visualize the data by using the visualization libraries


# Task 10: Visualization

##### 10.1 Create a simple plot using Matplotlib

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

x_axis = np.array([1, 2, 3, 4, 5])
y_axis = np.array([1, 4, 9, 16, 25])
plt.plot(x_axis, y_axis)
plt.xlabel("Marks")
plt.ylabel("frequency")
plt.title("Line chart in matplotlib")
plt.show()

##### 10.2 Create a bar plot using Seaborn

In [ ]:
import seaborn as sns

x_axis = np.array(['C++', 'Python', 'Java', 'JavaScript',
                  'Ruby', 'PHP', 'C#', 'Rust', 'Go', 'Swift', 'C'])
y_axis = np.random.random(11) 
sns.barplot(x=x_axis, y=y_axis)
plt.xlabel('Languages')
plt.ylabel('Votes')
plt.title('Bar Plot using Seaborn')  
plt.show()